<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="messageServiceImpl"
          class="com.spring.IoC.di.MessageServiceImpl">
        <constructor-arg name="username" value="Way Lau"/>
        <constructor-arg name="age" value="30"/>
    </bean>



    <bean id="messagePrinter" class="com.spring.IoC.di.MessagePrinter">
        <constructor-arg name="service" ref="messageServiceImpl"/>
    </bean>
    <bean id="Car1" class="com.spring.IoC.work.Car">
        <property name="brand" value="奔驰"/>
        <property name="color" value="红色"/>
        <property name="parameer" value="2.2吨"/>
    </bean>
    <bean id="Car2" class="com.spring.IoC.work.Car">
        <property name="brand" value="宝马"/>
        <property name="color" value="蓝色色"/>
        <property name="parameer" value="2.1吨"/>
    </bean>
    <bean id="Car3" class="com.spring.IoC.work.Car">
        <property name="brand" value="特斯拉"/>
        <property name="color" value="白色"/>
        <property name="parameer" value="2.3吨"/>
    </bean>
    <bean id="Boss1" class="com.spring.IoC.work.Boss">
        <property name="name" value="马云"/>
        <property name="car" ref="Car1"/>
        <property name="company" value="阿里巴巴"/>
        <property name="hobby" >
            <list>
                <value>骑马</value>
                <value>溜冰</value>
            </list>
        </property>
    </bean>
    <bean id="Boss2" class="com.spring.IoC.work.Boss">
        <property name="name" value="g胖"/>
        <property name="car" ref="Car2"/>
        <property name="company" value=""/>
        <property name="hobby" >
            <list>
                <value>打折</value>
                <value>打牌</value>
            </list>
        </property>
    </bean>
    <bean id="Boss3" class="com.spring.IoC.work.Boss">
        <property name="name" value="雷军"/>
        <property name="car" ref="Car3"/>
        <property name="company" value="小米"/>
        <property name="hobby" >
            <list>
                <value>高尔夫</value>
                <value>麻将</value>
            </list>
        </property>
    </bean>
    <bean id="meeting" class="com.spring.IoC.work.Meeting">
        <property name="theme" value="g20"/>
        <property name="boss">
            <list>
                <ref bean="Boss1"></ref>
            </list>
        </property>
    </bean>


    <bean id="user" class="com.spring.IoC.work02.User">
        <constructor-arg name="account" value="admin"/>
        <constructor-arg name="password" value="123"/>
    </bean>
    <bean id="userlogin"
          class="com.spring.IoC.work02.UserLogin">
        <property name="user" ref="user"/>
    </bean>



    <bean id="max" class="com.spring.IoC.work01.Max">
        <constructor-arg name="a" value="5"/>
        <constructor-arg name="b" value="3"/>
    </bean>


</beans>